
<ion-content padding>
  <div *ngIf="!game.isReady">
    Creando el juego en el servidor...
  </div>
  <div *ngIf="game.isReady">
    <div *ngIf="game.remoteGame === true">
      Código de juego: {{game.remoteId }}
      <br/>
      Envía este código a tus amigos para que puedan unirse a la partida
    </div>

    <ion-list>
      <ion-item *ngFor="let player of playerList; trackBy: trackByIndex; let i = index ">
        <ion-input type="text" placeholder="Nombre del jugador {{i+1}}" (blur)="setPlayerName(i, $event)" value="{{player}}" ></ion-input>
      </ion-item>
    </ion-list>
    <div class="generic-error" *ngIf="error" [innerHTML]="error"></div>

    <div *ngIf="allLocalPlayersAreFilled === true">
      Esperando por el resto de jugadores
    </div>
  </div>

</ion-content>

<ion-footer no-padding style="margin:0 0 !Important;">
  <button ion-button full (click)="confirmScreen()" [disabled]="playersEntered">Siguiente</button>
</ion-footer>
